docker {
  enabled = true
  runOptions = '--platform linux/x86_64'  // Needed for Apple Silicon
}

params {
  test = false
  outdir = 'results'       // Used in publishDir
  threads = 2              // Used in your modules
  input_glob = "Data/*_R{1,2}_001.fastq.gz"  // Default input pattern
}

profiles {
  test {
    params {
      test = true
      input_glob = "data/*_R{1,2}_001.fastq.gz"  // Use test data pattern
    }
  }
}
